@page { size: auto;  margin: 0mm; }

@media print {
    body * {
	visibility: hidden;
    }

    .page, .page *, #las-curves {
	visibility: visible;
    }
    
    .page {
	margin: 1.25in;
	page-break-after: always; 
    }

    .section-title {
	visibility: visible;
	font-size: 28pt !important;
	font-weight: 300 !important;
	text-align: center; 
	margin-top: 0px !important;
	padding: 10px !important;
	width: 300px !important;
	margin-left: 50px !important; 
    }

    #frontpage {
	background-color: rgba(0,0,0,0) !important; 
    }
    #frontpage, #frontpage * {
	page-break-after: always;
	visibility: visible; 
	-webkit-print-color-adjust: exact;
    }
    
    #las-logo {
	position: absolute !important;
	display: block !important;
	top: calc(65% - 212px) !important;
	padding: 0px !important;
	margin: 0px !important; 
	right: calc(100% - 310px) !important;
	height: 212px !important;
	clip-path: none !important; 
    }
    #las-header-text {
	position: absolute;
	bottom: 35%;
	right: 0px;
	padding: 50px; 
	background-color: #0057a5;
    }
    #las-file-info {
	font-size: 12pt;
	margin-left: -5px !important;
	background-color: #0057a5 !important;
	color: white !important; 
	padding: 0px; 
    }
    #las-curves {
	z-index: 0;
	position: relative;
	top: -125px;
	left: -125px; 
    }
    #frontpage h1 {
	font-size: 35pt !important;
	font-weight: bolder; 
	color: white;
    }

    #las-table tr:nth-child(2), #las-table tr > td:nth-child(1), #las-table tr > th:nth-child(1), #las-table .sort {
	display:none;
    }

    #las-table table {
	font-family: aktiv-grotesk-thin,sans-serif;
	font-size: 8pt !important;
	line-height: 8pt; 
	position: relative;
	left: -75px;
	width: 700px; 
	top: -100px; 
    }

    #las-table table > tr {
	page-break-inside: avoid;
    }

}

body {
    font-family: aktiv-grotesk-thin,sans-serif;
    width: 100%;
    margin-left: 0px; 
}

#frontpage, .section-title {
    background-color: #0057a5;
    color: white;
    margin: 0px;
    padding: 10px; 
    width: calc(100% - 20px);
}
#frontpage {
    margin-top: -30px;
    padding-bottom: 0px; 
}

#frontpage h1 {
    font-size: 50pt;
    display: inline;
}

#las-file-info {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    margin-left: -10px;
}
#las-logo {
    height: 90px;
    clip-path: inset(0px 0px 35.5px 0px);
    position: relative;
    top: 40px; 
    padding: 2px; 
    background-color: white;
    margin-right: 20px;
    display: inline
}

#las-header-text {
    display: inline; 
}

.section-title {
    margin-top: 0px;
    padding-left: 20px; 
    font-size: 20pt;
    display: inline-block;
    z-index: 100 !important;
}

#controls {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 10px;
    padding-bottom: 15px; 
    top: 0px;
    right: 0px;
    z-index: 100;
    text-align: center;
    font-size: 20pt;
    text-transform: lowercase;
    font-variant: all-small-caps; 
}
#graph-size {
    transform: scale(0.9); 
    padding-top: 5px; 
}

#las-print {
    width: 100%;
    font-family: aktiv-grotesk-thin,sans-serif;
    font-variant: all-small-caps;
    text-transform: lowercase;
    font-size: 20pt;
    color: white;
    margin-top:10px;
    background-color: rgba(0,87,165, 0.5);
    border-style: solid 2px white;
    border-radius: 2px; 
}

.col-name, .col-entry {
    padding-left: 20px; 
    padding-right: 20px;
    border: solid 1px;
    margin: 0px; 
}

.col-name {
    font-weight: bold;
    font-size: 14pt;
}

.col-entry {
    font-size: 12pt;
}

#las-table table {
    font-family: aktiv-grotesk-thin,sans-serif;
    font-size: 10pt; 
}
